@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    min-width: 0
}



@layer components {
    .hide-date-indicator {
      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
}


@layer components {
    .hide-clock-indicator {
      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
}


.rdp-root {
  --rdp-accent-color: #BEF264; 
  --rdp-accent-background-color: #1A2E05; 
 
}
